<footer class="footer">
  <div class="continainer content has-text-centerd">
    <ul class="ul">
      <li> 
          <a class=""> @2019 By William Holloran </a>
      </li>
      <li> 
          <a class="" href="https://www.facebook.com/kelly.holloran" target="_blank"> Facebook     </a>
      </li>
      <li> 
          <a class="" href="https://www.instagram.com/kellluh_/" target="_blank"> Instagram    </a> 
      </li>
      <li> 
          <a class="" href="https://twitter.com/mntdewbabi" target="_blank"> Twitter    </a> 
      </li>

    </ul>
  </div>
</footer>