.main{
    text-align: center;
    overflow: hidden;
    width: 100%;
    background-size: cover;
}
.background-image{
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.white-background{
    
    position: relative;
    left: 50;
    width: 75%;
    height: 100%;
    background-color: white;
    top: 0;
    display: inline-block;
}
.blog-div{
    display: inline-block;
   
    border: 5px;
    border-color: black;
}