<div class="blog"> <!-- Blog 1--> 
  <h3 class="blog-title"> Just to let all you know, Jon is awesome  </h3> 
  <h3 Class="date-line"> May 11, 2018 </h3>
  <div>
  <img width="300" alt="image" src="/assets/blog-1-image.webp" class="blog-priview-image">
  <div>
  <p class="blog-preview-text"> On Thursday, I was approached by one of the Chinese Teacher Assistants, Rose, who had given me a lesson plan and told me that I would be giving a demo this weekend and that we needed to… </p>
  <button class="read-more"> Read More </button>
  </div>
  </div>
</div> 
